:root{
    --font-primary-color: #fff;
    --bg-primary-color: #000;
}
img{
    max-width: 100%;
}

.btn-padrao{
    padding: 16px 32px;
    background: linear-gradient(#FFBB00,#D6B74B);
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
}