@import url('./global.css');
.header-bg{
    background-color:var(--bg-primary-color);
    padding: 20px;
}

.header{
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.header-navbar ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header-navbar ul li a{
    text-decoration: none;
    color: var(--font-primary-color);
    font-size: 1.5rem;
    padding: 10px 10px;
    font-weight: 600;
    line-height: 1.125;
}
